<html>

<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;
        }

        .aTagDiv {
            min-width: 300px;
            width: 80%;
            background-color: rgb(1, 111, 255);
            display: flex;
            padding: 20px;
            border-radius: 5px;

        }

        a {
            color: whitesmoke;
        }

        button {
            border: none;
            padding: 12px 24px;
            background: rgb(1, 111, 255);
            color:whitesmoke;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2 class=>Hello {{name}}</h2>

    <div class="container">
        <p>Your Password has been changed</p>
        <p> Please, click the Button Below to Login</p>

        <a href={{link}} target="_blank"
                rel="noopener noreferrer">
                <button>Login To Your Account</button>
            </a>
    </div>
</body>

</html>