<html>

<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;
        }

        .aTagDiv {
            min-width: 300px;
            width: 80%;
            border: 1px solid rgb(1, 111, 255);
            display: flex;
            padding: 20px;
            border-radius: 5px;

        }

        button {
            border: none;
            padding: 12px 24px;
            background: rgb(1, 111, 255);
            color: whitesmoke;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2 class=>Hello {{name}}</h2>

    <div class="container">
        <p>You requested to reset your password.</p>
        <p> Please, click the Button Below to reset your password</p>

        <a href={{link}} target="_blank" rel="noopener noreferrer">
            <button>Password Reset</button>
        </a>


        <p> or Copy/Paste on the browser</p>

        <div class="aTagDiv">
            <a href={{link}} target="_blank" rel="noopener noreferrer">{{link}}
            </a>
        </div>
    </div>
</body>

</html>