.welcomeHeader {
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    font-weight: 800;
}

.iconDiv {
    width: 150px;
    /* background: chartreuse; */
    /* display: flex;
    /* justify-content: space-between; */
    /* align-items: center;  */
}

.iconContainer {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
}

.iconDivSecret {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    /* background: chartreuse; */
    /* display: flex;
    /* justify-content: space-between; */
    /* align-items: center;  */
}

.guestDiv {
    display: flex;
}

.guestDiv p {
    font-weight: 600;
    text-align: center;
}

.iconDiv div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconDiv p {
    font-size: var(--p-size);
    margin-left: 10px;
    font-weight: 600;
}

.chevronIcon {
    font-size: var(--p-size);
    color: var(--icon-color);
}